@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

html,
body {
  /* para não ter barra de navegação horizontal */
  width: 100%;
  overflow-x: hidden;
}

section#message {
  padding: 1.5rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

span#close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

header {
  width: 100%;
  height: 300px;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

.sumário {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.título {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

.sumário .bloco {
  max-width: 1000px;
  min-width: 300px;
  height: 200px;
  background: white;
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5); /* para funcionar no Safari */
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5); /* para funcionar no Mozilla */
  position: relative;
  z-index: 10;
  padding: 10px;
}

.bloco img {
  width: 50%;
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.bloco .texto {
  position: absolute;
  bottom: 30%;
  left: 10%;
}

.bloco .texto h2 {
  color: #00285f;
  margin-bottom: 20px;
  text-align: left;
  transform: translateX(-20px);
  transition: transform 0.5s;
}

.bloco .texto p {
  max-width: 280px;
  color: #00285f;
  text-align: left;
  transform: translateX(-20px);
  transition: transform 0.4s;
}

/* catálogo */

.catálogo {
  width: 100vw;
  padding: 100px;
}

a.cartão {
  width: 20rem;
  padding: 3rem;
  box-shadow: 0 0 1rem #00000060;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #F3F2F3;
  color: black;
  text-decoration: none;
}

a.cartão:hover {
  transform: scale(1.1);
}

a.cartão img {
  width: 15rem;
  height: 15rem;
}

a.cartão h2 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: black;
}

#pokedex {
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Cadastro */

#header-2 {
  width: 100%;
  height: 150px;
}

#cadastro {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20rem 10rem 20rem;
}

#cadastro form {
  width: 100%;
  padding: 3rem;
}

#cadastro form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 0.1rem solid #00285f;
}

#cadastro form div label {
  font-size: 1.3rem;
  color: #00285f;
}

#cadastro form button {
  border: 1px solid #00285f;
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
  color: #00285f;
  font-weight: bold;
  border-radius: 4px;
  display: block;
  width: 40%;
}

#cadastro form button:hover {
  transition: background, color 0.6s;
  background: #00285f;
  color: white;
}

/* detalhes */

#header-3 {
  width: 100%;
  height: 150px;
}

.detalhes {
  margin-top: 40px;
  flex-direction: wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.detalhes-texto {
  width: 50%;
  border: 10px solid rgb(255, 123, 0);
  border-radius: 25px;
  padding: 15px;
  color: #00285f;
}

/* footer */

footer {
  width: 100%;
  height: 250px;
}

footer .principal {
  width: 100%;
  height: 200px;
  background: #f78b00;
  padding: 20px 10px;
}

.contatos,
.instagram {
  color: white;
  height: 100%;
  min-height: 100px;
}

.principal .instagram img {
  width: 32px;
  height: 32px;
}

.instagram,
.contatos {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

footer .final {
  width: 100%;
  height: 50px;
  background: #F3F2F3;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
  color: black;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ajuste responsivo */

@media (max-width: 576px) {
  nav ul li {
    display: none;
  }

  .bloco img {
    width: 70%;
    position: absolute;
    right: 16%;
    top: 30%;
  }

  .bloco .texto {
    position: absolute;
    bottom: 10%;
    left: 15;
  }

  footer {
    height: 100%;
  }

  footer .principal {
    height: 100%;
  }
}
